body {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;  
    font-size: 12px;
    line-height: calc(12px + 5px);
    background-color: #fefefe;
    background-image:url(https://i.postimg.cc/Bn2gQXjr/tumblr_static_2mi4xqbi74isswsggw4c0wos8.png);
    background-attachment: fixed;
    background-repeat: repeat;
    word-wrap:break-word; 
}
/* Selection */
 
::-moz-selection {
    background: #548c84;
    color: #fefefe;
}
 
::selection {
    background: #548c84;
    color: #fefefe;
}

/* Links */

a {
    color:#0000;
    text-decoration:none;
    transition:all .3s linear;    
    -webkit-transition:all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;      
}
 
a, a img {cursor:pointer;}
 
a:hover {
    color:#000;
    text-decoration:none;
}

ul, ol, li { 
    margin: 5px 10px; 
    padding: 0px;
}
#big-triangle {
    position:fixed;
    top:0;
    left:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 0 0 100vw;
    border-color: transparent transparent transparent #818181;
    z-index:1;
}
 
/* ------------------------------- SIDEBAR ------------------------------- */
 
#side-panel {
    position:fixed;
    top:30;
    left:0;
    width:100px;
    height:600px;
    z-index:100000;
}
 
#sidebar {
    position:absolute;
    top:10%;
    left:550px;
    width:180px;
    max-width:180px;
    height:472px;
    max-height:100vh;
}

/* Circles */

#circles {
    position:absolute;
    margin:0;
    width:100px;
    height:100px;
    z-index:100;
}

.circle {
    display:inline-block;
    margin-bottom:8px;
    margin-right:8px;
    width:7px;
    height:7px;
    border-radius:100%;
    background:#000000;
}

/* Blog title */

#blog-title {
    position:absolute;
    bottom:-10;
    width:85px;
    height:450px;
    color:;
    font-family:Open Sans; 
    font-size:42px;
    letter-spacing:1px;
    z-index:100;    
}

.bt {
    position:absolute;
    top:53%;
    left:50%;
    width:239px;
    height:65px;
    line-height:25px;
    overflow:hidden;
    transform:translateX(-50%) translateY(-50%) rotate(270deg);
}

/* Description */

#description {
    position:absolute;
    margin-top:-55px;
    margin-left:180px;
    width:60px;
    height:calc(100% - 65px);
    color:#4E4E4E;
    z-index:100; 
    overflow:hidden;
}

.desc {
    position: absolute;
    top:32%;
    left:50%;
    padding:5px;
    width:490px;
    height:38px;
    font-size:15px;
    line-height:20px;
    overflow:hidden;
    overflow-y:auto;
    transform:translateX(-50%) translateY(-50%) rotate(270deg);
}

/* Avatar */
 
#avatar {
    margin-top:36px;
    margin-left:35px;
    max-width:200px;
    z-index:1;
}
 
#avatar img{
    width:100%;
    height:100%;box-shadow: 13px 12px 15px 5px rgba(0,0,0,0.2);
}

/* Main icons */
 
#main-icons {
    margin-top:10px;
    width:170px;
    height:36px;
    padding:0 5px;
    text-align:center;
    border:1px solid #4E4E4E;
}
 
#main-icons a {
    display:inline-block;
    margin:0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
 
#main-icons i {
    margin-left:5px;
    margin-top:12px;    
    width:35px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:10px;letter-spacing: 15px;
    color:#4E4E4E;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
 
#main-icons i:hover {
    color:#b3b3b3;
    border-top:1px solid #548c84;
    border-bottom:1px solid #548c84;
}

/* Navigation */
 
#navigation {
    margin-top:0px;
    margin-left:-10;
    width:136px;
    height:205px;
    padding-left:55px;
    overflow:hidden;
}
 
#navigation a {
    display:block;
    margin-top:9px;
    font-size:10px;
    line-height:20px;
    letter-spacing:1px;
    color:#B7B7B7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#navigation a:hover{
    color:#B2B2B2;
}

#navigation span {
    margin-right:10px;
    color:#000000;
}

#navigation a:hover span {
    color:#c3c3c3;
}

#navigation a:after {
     content:'';
     margin:1px 0;
     display:block;
     width:0px;
     height:0px;
     border-bottom:1px solid #548c84;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
  
#navigation a:hover::after {
     width:100%;
}

/* Search box */
 
#search {
    margin-top:-100px;
    margin-left:50px;
    width:155px;
    height:30px;
    text-align:center;
    border:1px solid #4E4E4E;
}

/* Search icon */
 
#search i {
    margin-left:5px;
    margin-top:12px;    
    width:35px;
    height:35px;
    line-height:20px;
    text-align:center;
    font-size:10px;letter-spacing: 15px;
    color:#4E4E4E;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
 
#search i:hover {
    color:#b3b3b3;
    border-top:1px solid #548c84;
    border-bottom:1px solid #548c84;
}